.contactoFormulario {
  width: 400px;
  background: #566573;
  padding: 30px;
  margin-top: 100px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 7px 10px 20px #000;
  div input {
    background: #d5d8dc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
  }
}
